.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 130vh;
    gap: 25px;
    background: conic-gradient(from 90deg at 50% 50%, rgb(141, 125, 82), wheat);
}

.about strong {
    font-size: 2em;
    color: rgb(146, 97, 5);
}

.about h1 {
    font-size: 2em;
    background-image: linear-gradient( #ffcd44, #88670c);
    /* Colores del gradiente */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.about p {
    width: 80%;
    font-size: 18px;
}

.about article {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
}

.about article ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 50%;
    list-style: square;
    gap: 15px;
    align-self: start;
    margin-top: 30px;
    animation: desplazar 1.8s 1;
}

@keyframes desplazar {
    0% {
        transform: translateX(-300px);
    }
    100% {
        transform: translateX(0px);
    }
}

.about article li {
    font-size: 20px;
    color: rgb(90, 60, 5);
    display: flex;
    gap: 20px;
}

.abautImg {
    width: 50%;
    height: 400px;
    background-image: url("https://images.pexels.com/photos/3865748/pexels-photo-3865748.jpeg?auto=compress&cs=tinysrgb&w=800");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    animation: desplazarimg 2s 1;
}

@keyframes desplazarimg {
    0% {
        transform: translateY(300px);
    }
    100% {
        transform: translateY(0px);
    }
}