    .service {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        background-color: rgb(219, 219, 219);
        padding-top: 80px;
        gap: 14px;
        animation: slidEDown 1s 1;
    }
    
    @keyframes slidEDown {
        0% {
            transform: translateY(-400px);
            opacity: 0;
        }
        50% {
            opacity: 0.4;
        }
        100% {
            transform: translateY(0px);
            opacity: 1;
        }
    }
    
    .service header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
        background-color: burlywood;
    }
    
    .service header h2 {
        width: 100%;
        text-align: center;
    }
    
    .service header li {
        color: white;
    }
    
    .service header a {
        color: black !important;
    }
    
    .recomended {
        display: flex;
        width: 100%;
        flex-direction: column;
        padding-top: 30px;
    }
    
    .divColumn {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 17px;
        width: 100%;
    }
    
    .recomended .divRecomended {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 17px;
    }
    
    .divRecomended h3 {
        font-size: 22px;
        color: rgb(218, 173, 114);
    }
    
    .divRecomended h4 {
        font-size: 25px;
        color: rgb(70, 40, 2);
        font-weight: 800;
    }
    
    .divRecomended p {
        width: 80%;
        font-size: 18px;
    }
    
    .recomended article {
        display: flex;
        gap: 10px;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: black !important;
    }
    
    .recomended article ul {
        display: flex;
        gap: 10px;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        list-style: disc !important;
        padding-left: 90px;
    }
    
    .service aside {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 300px;
        background-color: rgb(219, 219, 219);
    }
    
    .service h6 {
        font-size: 24px;
        font-weight: bold;
        width: 100%;
        height: 20%;
        text-align: center;
        color: rgb(146, 88, 2);
    }
    
    .service .pic {
        width: 90%;
        height: 80%;
        background-image: url("https://images.pexels.com/photos/458766/pexels-photo-458766jpeg?auto=compress&cs=tinysrgb&w=1200");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    
    .service .pic2 {
        width: 90%;
        height: 80%;
        background-image: url("https://cdn.pixabay.com/photo/2016/06/19/12/46/woman-1466628_1280.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    
    .service .pic3 {
        width: 90%;
        height: 80%;
        background-image: url("https://images.pexels.com/photos/3997386/pexels-photo-3997386.jpeg?auto=compress&cs=tinysrgb&w=1200");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    
    .service .pic4 {
        width: 90%;
        height: 80%;
        background-image: url("https://images.pexels.com/photos/8945996/pexels-photo-8945996.jpeg?auto=compress&cs=tinysrgb&w=1200");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    
    .service .pic5 {
        width: 90%;
        height: 80%;
        background-image: url("https://images.pexels.com/photos/3212164/pexels-photo-3212164.jpeg?auto=compress&cs=tinysrgb&w=1200");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
    }
    
    .service .pic6 {
        width: 90%;
        height: 80%;
        background-image: url("https://images.pexels.com/photos/6629530/pexels-photo-6629530.jpeg?auto=compress&cs=tinysrgb&w=800");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    
    .gallery {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 14px;
    }
    
    .gallery h5 {
        font-size: 26px;
        width: 100%;
        text-align: center;
        color: rgb(146, 88, 2);
    }
    
    .gallery ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 5px;
        gap: 20px;
    }
    
    .gallery li {
        width: 75%;
        height: 300px;
    }
    
    .gallery img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }