.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 100vh;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1644%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1645%26quot%3b)'%3e%3c/rect%3e%3cpath d='M0 0L507.84 0L0 130.33z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M0 130.33L507.84 0L766.3399999999999 0L0 210.08z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M0 210.08L766.3399999999999 0L917.55 0L0 316.91z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M0 316.91L917.55 0L1005.74 0L0 440.02000000000004z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M1440 560L1400.59 560L1440 421.74z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M1440 421.74L1400.59 560L993.5999999999999 560L1440 386.58000000000004z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M1440 386.58000000000004L993.6 560L972.5400000000001 560L1440 167.48000000000005z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M1440 167.48000000000002L972.54 560L769.4399999999999 560L1440 50.21000000000002z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1644'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='139.29%25' x2='84.72%25' y2='-39.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1645'%3e%3cstop stop-color='rgba(163%2c 160%2c 138%2c 1)' offset='0.16'%3e%3c/stop%3e%3cstop stop-color='rgba(167%2c 164%2c 119%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.testimonials .slick-slider {
    position: relative;
    width: 80%;
    height: 60%;
}

.testimonials .slick-track {
    display: flex !important;
    gap: 20px;
}

.testimonials .slick-slider button {
    transform: scale(1.4);
}

.testimonials h3 {
    font-size: 40px;
    background-image: linear-gradient(to right, rgb(151, 119, 12), rgb(238, 185, 11));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 1px white;
}

.testimonials h4 {
    font-size: 24px;
    color: wheat;
}

.card {
    display: flex !important;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    height: 450px;
    border: none;
    border-radius: 10px;
    background: radial-gradient(ellipse farthest-side at 76% 77%, rgba(245, 228, 212, 0.25) 4%, rgba(255, 255, 255, 0) calc(4% + 1px)), radial-gradient(circle at 76% 40%, #fef6ec 4%, rgba(255, 255, 255, 0) 4.18%), linear-gradient(135deg, #110000 0%, #000036 100%), radial-gradient(ellipse at 28% 0%, #ffcfac 0%, rgba(0, 47, 43, 0.5) 100%), linear-gradient(180deg, #ad9b60 0%, #f5eab0 69%, #d6c8a2 70%, #a2758d 100%);
    background-blend-mode: normal, normal, screen, overlay, normal;
    box-shadow: 0px 0px 10px 1px #000000;
    margin-right: 10px !important;
}

.card i {
    color: rgb(105, 70, 4);
    font-size: 40px;
}

.card p {
    align-self: center;
    text-align: justify;
    font-size: 17px;
    color: rgb(85, 56, 2);
    padding: 30px;
}

.name {
    text-align: center;
    font-weight: 600;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(65, 65, 65));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 1px white;
    font-size: 30px;
}